[flake8]
max-line-length = 200
extend-ignore =
    E203,
    E501,
    W503,
    E402,
    F401,
    C901,
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .eggs,
    *.egg,
    .mypy_cache,
    .pytest_cache,
per-file-ignores =
    __init__.py:F401,
    tests/*:D,
max-complexity = 15
